<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.algridashboard.dashboard.mapper.TemperatureMapper" >
  <resultMap id="BaseResultMap" type="com.algridashboard.dashboard.model.Temperature" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="temperature" property="temperature" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, temperature, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from temperature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from temperature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.algridashboard.dashboard.model.Temperature" >
    insert into temperature (id, temperature, time
      )
    values (#{id,jdbcType=INTEGER}, #{temperature,jdbcType=DOUBLE}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.algridashboard.dashboard.model.Temperature" >
    insert into temperature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.algridashboard.dashboard.model.Temperature" >
    update temperature
    <set >
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.algridashboard.dashboard.model.Temperature" >
    update temperature
    set temperature = #{temperature,jdbcType=DOUBLE},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCount" resultType="java.lang.Integer"  parameterType="java.lang.String" >
        select COUNT(*)

        from temperature
        where time between #{starttime,jdbcType=VARCHAR} and #{endtime,jdbcType=VARCHAR}
    </select>

  <select id="totalCount" resultType="java.lang.Integer"  >
        select COUNT(*)

        from temperature

    </select>

  <select id="selectNewest5" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from temperature
    order by id desc
    limit 5
  </select>

  <select id="selectByTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from temperature
    where time between #{starttime,jdbcType=VARCHAR} and #{endtime,jdbcType=VARCHAR}
    order by id asc
  </select>
    <select id="selectTopByTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from temperature
        where time between #{starttime,jdbcType=VARCHAR} and #{endtime,jdbcType=VARCHAR}
        order by id desc
        limit 1
    </select>
    <select id="selectHighestByTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from temperature
        where time between #{starttime,jdbcType=VARCHAR} and #{endtime,jdbcType=VARCHAR}
        order by temperature desc
        limit 1
    </select>
    <select id="selectLowestByTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from temperature
        where time between #{starttime,jdbcType=VARCHAR} and #{endtime,jdbcType=VARCHAR}
        order by temperature asc
        limit 1
    </select>
</mapper>